.topbar a {
  color: whitesmoke;
}

.topbar-nav a {
  padding: 0 5px;
  color: rgba(163, 163, 163, 0.774);
}

.topbar-nav .active {
  color: whitesmoke;
  opacity: 0.8;
}

.topbar-nav a:hover {
  color: whitesmoke !important;
  opacity: 1;
  font-size: bold;
  font-size: 18px;
}

.topbar-button {
  background: green;
  color: whitesmoke;
  border-radius: 10px;
  padding: 7px;
  margin-right: 7px;
}

.logo {
  margin: 10px 0;
}

.banner-box {
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  transform: scaleX(-1);
}

.banner-absolute-box {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.banner-centered-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  height: 100%;
}

.banner-title {
  margin: 1% 0;
}

.banner-description {
  margin: 1% 0;
}

.banner-description a {
  color: whitesmoke;
}

.banner-description a:hover {
  color: whitesmoke;
  text-decoration: underline;
}

body.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.connection {
  border: black 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
.connection form {
  margin: 10px 0px;
}
.connection .brand {
  display: flex;
  align-items: center;
}
.connection .brand img {
  margin-right: 10px;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  min-height: 100%;
}

a {
  color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
  text-decoration: none;
}

.centered-box {
  margin: 0px auto;
  width: 1050px;
  padding: 0 5px;
}

.topbar {
  background-color: #202931;
  color: whitesmoke;
}

.topbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**********/
/*  MAIN  */
/**********/
.main {
  display: flex;
}

.first-articlePreview {
  margin-bottom: 0px !important;
  margin-top: 15px;
}

.title-firstArticle {
  margin: 5px 0;
}

.articlesPreviews-section {
  flex: 1;
  min-width: 60%;
}

.articlePreview {
  border: solid 1px #dfdfdf;
  margin: 15px 0px;
  border-radius: 5px;
}

.articlePreview-img {
  width: 100%;
}

.articlePreview-img-container {
  position: relative;
}

.articlePreview-linkImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visualization-p {
  position: absolute;
  margin: 0px;
  font-size: 25px;
  opacity: 0;
  transition-duration: 0.5s;
  color: white;
}

.articlePreview-linkImg:hover .visualization-p {
  opacity: 1;
  font-size: 35px;
  text-shadow: black 1px 0 10px;
}

.articlePreview-paragraphe, .articlePreview-title {
  margin: 5px 10px;
}

.articlePreview-header {
  background: #f7f7f7;
  border-top: #dfdfdf solid 1px;
  padding: 0;
}

.articlePreview-footer {
  background: #f7f7f7;
  border-top: #dfdfdf solid 1px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.articlePreview-footer img {
  height: 16px;
  transform: translateY(2px);
}

.aside-section {
  margin-left: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.aside {
  border: solid 1px #dfdfdf;
  margin: 15px 0px;
  border-radius: 5px;
  padding: 15px;
  min-width: 40%;
}

.aside-header {
  background: #f7f7f7;
  color: #5a5a5a;
  min-height: 15px;
  border-bottom: #dfdfdf solid 1px;
  padding: 10px;
  margin: -15px -15px 15px -15px;
}

.aside-header h3 {
  margin: 0px;
}

.aside li {
  transition-duration: 0.5s;
}

.aside li:hover {
  transform: translateX(5px);
}

.aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.aside p {
  margin: 0;
}

.profil-img {
  border-radius: 50%;
  float: left;
  margin: 0px 15px 0px 0px;
}

.footer {
  background: #202931;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: rgba(255, 255, 255, 0.493);
}

.footer-flex {
  display: flex;
  margin-bottom: 15px;
}

.footer-div {
  width: 33%;
}

.footer-footer {
  background-color: black;
}

.footer-footer p {
  padding: 5px 0px;
}

.footer-div h3 {
  font-size: 25px;
}

@media screen and (max-width: 1055px) {
  .centered-box {
    width: 100%;
    padding: 0 0px;
    margin: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
